@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ruta al layout que deseas utilizar
}

<main>
    <section id="about">
        <h2>Sobre Nosotros</h2>
        <p>Blog USC es un espacio digital creado para la comunidad de la Universidad Santiago de Cali, donde estudiantes, profesores y colaboradores pueden compartir sus conocimientos, experiencias y opiniones.</p>
    </section>

    <section id="posts">
        <h2>Últimas Publicaciones</h2>
        <!-- Aquí puedes agregar código para mostrar las publicaciones -->
    </section>
</main>